body {
    width: 350px;
}

#criteria {
    width: 30px;
}

#autofill {
    
}

.criteria-holder {
    float: left;
}

.comment {
    height: 50px;
    width: 300px;
    resize: vertical;
}

.grade {
    width: 25px;
    height: 50px;
    resize: none;
}
